/* GLOBAL STYLES */

/*HEADER*/
header {
    text-align: center;
    background-color: darkblue;
    color:antiquewhite;
}

/* BODY */
.search {
    display:block;
}

/* .hidden {
    display: none;
} */

.outlook {
    width: 125px;
    height: 125px;
    background-color:cadetblue;
    padding: 10px;
    display: inline-block;

}