/* GLOBAL STYLES */

/* not global styles */

header {
    text-align: center;
    background-color: darkblue;
    color:antiquewhite;
}

.search {
    display:inline;
}

/* .hidden {
    display: none;
} */

.outlook {
    width: 125px;
    height: 125px;
    background-color:cadetblue;
    padding: 10px;
    display: inline-block;

}